# Project exclude paths
/.gradle/
/Number Base Converter/task/build/
/Number Base Converter/task/out/
/Number Base Converter/task/out/production/classes/
/Topics/The while and do-while loops/Squares of natural numbers/out/
/Topics/The while and do-while loops/Squares of natural numbers/out/production/classes/
/Topics/The while and do-while loops/The sequence/out/
/Topics/The while and do-while loops/The sequence/out/production/classes/